* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(116, 101, 101, 0.9);
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --light: rgb(221, 196, 196);
    --dark: rgb(3, 3, 87);
}

h1 {
    font-size: 300%;
    color: var(--light);
}

.header-background {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--dark);
}

header nav ul li {
    margin: 20px;
    display: inline;
    font-size: 120%;
}

a {
    text-decoration: none;
    color: var(--light);
}

header h2 {
    text-align: center;
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light);
    font-size: 250%;
    margin-left: 100px;
}

.subheader-image {
    background-image: url(/assets/images/neom-t3dlLOhdEzs-unsplash.jpg);
    background-size: cover;
    background-position: center;    
    height: 120px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.navbox_aboutme {
    width: 11vw;
    height: 120px;
    border-right: 5px solid var(--dark);
    padding: 20px;
    margin: 30px;
    line-height: 1.5;
    text-align: right;
    font-size: 300%;
}

.first-content {
    line-height: 24px;
    text-align: justify;
    width: 1530px;
    padding: 40px 30px 0 0;
}

.navbox_work {
    width: 11vw;
    height: 89vh;
    border-right: 5px solid var(--dark);
    padding: 20px;
    margin: 30px;
    text-align: right;
    font-size: 300%;
}

.box2 {
    width: 150px;
    height: 70px;
    background-color: var(--light);
    padding-top: 10px;
    margin-top: 300px;
    line-height: 1.5;
    color: var(--dark);
}

.box2-image {
    background-image: url(/assets/images/pexels-adrian-regeci-13629582.jpg);
    background-size: cover;
    background-position: center;    
    height: 400px;
    width: 80vw;
    border: 10px solid var(--light);
}

.box3 {
    width: 150px;
    height: 70px;
    background-color: var(--light);
    padding-top: 10px;
    margin-top: 100px;
    line-height: 1.5;
    color: var(--dark);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 83vw;
    height: 92vh;
    margin-top: 36px;
}

.box3-image {
    background-image: url(/assets/images/pexels-josh-kobayashi-4083523.jpg);
    background-size: cover;
    background-position: center;    
    height: 200px;
    width: 47%;
    border: 10px solid var(--light);
}

.box4-image {
    background-image: url(/assets/images/pexels-ivan-kazlouski-12175805.jpg);
    background-size: cover;
    background-position: center;    
    height: 200px;
    width: 47%;
    border: 10px solid var(--light);
}

.box5-image {
    background-image: url(/assets/images/pexels-kaan-durmuş-9457133.jpg);
    background-size: cover;
    background-position: center;    
    height: 200px;
    width: 47%;
    border: 10px solid var(--light);
}

.box6-image {
    background-image: url(/assets/images/pexels-albin-berlin-919073.jpg);
    background-size: cover;
    background-position: center;    
    height: 200px;
    width: 47%;
    border: 10px solid var(--light);
}

.navbox_contactme {
    width: 11vw;
    height: 120px;
    border-right: 5px solid var(--dark);
    padding: 20px;
    margin: 30px;
    line-height: 1.5;
    text-align: right;
    font-size: 300%;
}

.list-format {
    display: flex;
    align-items: center;
}

.list-format li {
    list-style-type: none;
    margin: 0 70px;
    font-size: 150%;
    padding: 50px;
}

/* @media screen and (max-width: 992) {
    .cards {
        width: 100%;
    }

@media screen and (max-width: 768) {
    .cards {
        width: 100%;
    }
    .header-background {
        background-color: orange; 
    }
} */